In [4]:
%load_ext autoreload
%autoreload 2
import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd
import geopandas as gpd
import folium
from shapely.geometry import LineString
from shapely import wkt
import numpy as np
import swifter
from generator.preprocess import *
from generator.road_network import RoadNetwork

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
# load mapped dataset
df = pd.read_csv("../datasets/trajectories/Porto/mapped.csv")
# load network
network = RoadNetwork("Porto, Portugal", network_type="drive", retain_all=True, truncate_by_edge=True)

In [7]:
cdf = clip_trajectories(df, network.bounds)

Pandas Apply:   0%|          | 0/1641024 [00:00<?, ?it/s]

In [9]:
cdf.head()

,Unnamed: 0,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"LINESTRING (-8.61864 41.14141, -8.61850 41.141..."
1,0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"LINESTRING (-8.63083 41.15451, -8.63083 41.15452)"
2,0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"LINESTRING (-8.63083 41.15451, -8.63083 41.154..."
3,1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"LINESTRING (-8.63985 41.15983, -8.64035 41.159..."
4,2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"LINESTRING (-8.61296 41.14036, -8.61338 41.140..."

In [ ]:
fdf = filter_min_points(cdf, 10)